@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@600&display=swap');

:root{
    --color-font:hsl(0, 0%, 100%);
    --color-principal:hsl(257, 40%, 49%);
    --color-secundario: hsl(300, 69%, 71%);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Headerboard*/
.headerboard_container{
    height: auto;
    padding: 10px 0;
    background-image: url("./images/bg-desktop.svg");
    background-repeat: repeat;
    background-size: cover;
    background-color: var(--color-principal);
}
.headerboard_header{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 6px 30px;
    margin-bottom: 25px;
}
.header_logo{
    width: 50%;
}

.headerboard_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 10px;
    height: auto;
}

/*Panel Left */
.panel_left{
    width: auto;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.panel_img{
    width: 69%;
    margin: 10px;
}

/*Panel - Rigth*/
.panel_rigth{
    width: auto;
    max-width:350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel_content h1{
    color: var(--color-font);
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 4px;
}
.panel_content p{
    color: var(--color-font);
    font-size: 0.7em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.button_container{
    margin: 20px 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_register{
    color: var(--color-principal);
    padding: 10px 55px;
    border-radius: 20px;
    font-family: Arial;
    font-weight: lighter;
    text-decoration: none;
    background-color: #ffff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.button_register:hover{
    background-color: var(--color-secundario);
    color: #ffff;
}

/*footer headerboard Social Media*/
.headerboard_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 50px;
}
.headerboard_footer ul{
    display: inline-flex;
    justify-content: center;
}
.social_media li{
    margin: 8px;
    list-style: none; 
}
ion-icon{
    color: #ffff;
    padding: 6px;
    font-size: 1em;
    border-radius: 20px;
    outline: 1px solid white;
}
ion-icon:hover{
    color: var(--color-secundario);
    outline-color: 1px solid var(--color-secundario);
}

/*Section Responsive Desing*/

/*Dispo mobile y small */
@media (min-width:430px) and (max-width:946px) {
    .headerboard_header{
        background-color: rgba(55, 233, 15, 0);
        margin-bottom: 20px;
        padding: 10px 40px;
    }

    .header_logo{
        width: 54%;
    }

   /*Section Headerboard*/
   .headerboard_content{
        padding: 5px 0;
        margin-bottom: 10px;
    }


    /*Panel Left */
    .panel_left{
        max-width: 625px;
        margin-bottom: 30px;
    }
    .panel_img{
        width: 75%;
        margin: 10px;
    }

    /*Panel - Rigth*/
    .panel_rigth{
        max-width: 430px;
        min-width: 250px;
        padding: 15px;
    }
    .panel_content h1{
        font-size: 1.2em;
        letter-spacing: 2px;
    }
    .panel_content p{
        font-size: 0.9em;
    }

    /*section Social Media*/
    .headerboard_footer{
        justify-content: center;
    }
    ion-icon{
        padding: 10px;
        font-size: 20px;
    }
    ion-icon:hover{
        color: var(--color-secundario);
        outline-color: 1px solid var(--color-secundario);
    }

}

/*dispositive medium y large  */
@media (min-width:950px) and (max-width:1440px){

    .headerboard_header{
        margin-bottom: 20px;
        padding: 10px 40px;
    }

    .header_logo{
        width: 60%;
    }

    /*Section Headerboard*/
   .headerboard_content{
        flex-direction: row;
        justify-content: space-around;
        padding: 0 auto;
        height: auto;
    }

    /*Panel Left */
    .panel_left{
        max-width: 495px;
    }
    .panel_img{
        width:90%;
    }

    /*Panel - Rigth*/
    .panel_rigth{
        max-width: 400px;
        min-width: 80px;
        padding: 15px;
        
    }
    .panel_content h1{
        font-size: 1.4em;
        letter-spacing: 2px;
        text-align: left;
        
    }
    .panel_content p{
        font-size: 0.9em;
        text-align: left;
    }

    .button_container{
        margin: 20px 0;
        padding: 10px 0;
        justify-content: left;
    }

    .button_register{
        padding: 10px 40px;
    }

    /*section Social Media*/
    .headerboard_footer{
        margin: 0;
        justify-content: right;
    }
    ion-icon{
        padding: 8px;
        font-size: 1.2em;
        border-radius: 40px;
    }
    ion-icon:hover{
        color: var(--color-secundario);
        outline-color: 1px solid var(--color-secundario);
    }

}

