@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --color-bright-orange:hsl(31, 77%, 52%);
    --color-dark-cyan:hsl(184, 100%, 22%);
    --color-very-dark-cyan:hsl(179, 100%, 13%);
    --color-font-title: hsl(0, 0%, 100%);
    --color-font-text:hsla(0, 0%, 100%, 0.75);
    --color-background: hsl(0, 0%, 95%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

body{
    background: var(--color-background);  
}

/* Section Wrapper / Cards */
.card__wrapper{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    min-width:350px;
    padding: 40px 30px;
    
}
.item_card{
    max-width: 310px;
    min-width: 250px;
    height: auto;
    padding:20px;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.item_orange{
    background-color: var(--color-bright-orange);
    border-radius: 10px 0 0 10px;
}
.item_darkcyan{
    background-color: var(--color-dark-cyan);
}
.item_verydarkcyan{
    background-color: var(--color-very-dark-cyan);
    border-radius: 0 10px 10px 0;
}

/*Section header icon*/
.item_card_image{
    position: relative;
    margin-top: 20px;
    padding: 10px;
}
.item_card_icon{
    position: relative;
    width: 25%;
    height: 45%;
}

/*Section Body*/
.item_card_body{
    margin: 10px 0 ;
    padding: 10px 3px;
}
.item_card_body span{
    color: var(--color-font-title);
    font-size: 1.4em;
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    line-height: 2em;
}
.item_card_body p{
    padding: 10px 0;
    color: var(--color-font-text);
    font-size: 0.9em;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5em;
    
}


/*Section Button*/
.card_button_content{
    display: flex;
    justify-content: left;
    margin-top: 25px;
}

.card__button{
    padding: 10px 22px;
    border-radius: 50px;
    background-color: hsl(0, 0%, 100%);
    
}
.card__button:hover{
    background-color: var(--color-background);
}
.card__button__link{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
}

.btn-bright-orange{
    color: var(--color-bright-orange);
}
.btn-dark-cyan{
    color: var(--color-dark-cyan);
}
.btn-very-dark-cyan{
    color: var(--color-very-dark-cyan);
}



