@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

:root{
    --color-Card-background:hsl(225, 100%, 98%);
    --color-PaleBlue-background:hsl(225, 100%, 94%);

    --color-BrightBlue-principal:hsl(245, 75%, 52%);
    --color-Button-hoveractive:hsl(224, 23%, 55%);
    --color-FontText-color:hsl(223, 47%, 23%);
}

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

body{
    background-color: var(--color-PaleBlue-background);
}

/* --Main Container-- */
.main-container{
    min-width: 300px;
    padding: 0.8em;
}

/* - Section cards - */
.card-component{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin: 1.3em auto;
    padding: 2em 1em;
}

/* Card container */
.card-container{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    height: auto;
    max-width: 350px;
    min-width: 300px;
    
    border-radius: 30px;
    background-color: var(--color-Card-background);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-container:hover{
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-content-header{
    width: 100%;
    height: 11em;
    border-radius: 25px 25px 0  0;
    background-image: url("image/illustration-hero.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Card content body */
.card-content-body{
    margin-top: 0.9em;
    margin-bottom: 0.8em;
    padding: 5px 15px;
}

.card-descript{
    text-align: center;
    padding: 1em 1em;
}
.card-descript h1{
    color: var(--color-FontText-color);
    font-size: 21px;
    font-weight: 900;
    line-height: 2em;
}
.card-descript p{
    color: var(--color-FontText-color);
    max-width: 265px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0 auto;
    opacity: 50%;
    
}

/* Panel subcripcion */
.card-subcripcion-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
    justify-content: space-between;
    padding: 0.8em 1em;
    margin: 1em 1em;
    background-color: rgba(247, 246, 245, 0.838);
    border-radius: 20px;
}
.card-subcripcion-panel span{
    font-weight: 600;
}

.panel-left{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.subcription-selection-link{
    cursor: pointer;
    
    border-bottom: 2px solid var(--color-BrightBlue-principal);
    color: var(--color-BrightBlue-principal);
}
.subcription-selection-link:hover{
    transition: 0.3s;
    border:  none;
    color: var(--color-Button-hoveractive);
}

/* Section Buttom card */
.card-buttom-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.4em;
}
.card-buttom {
    cursor: pointer;
    width: 90%;
    row-gap: 1.2em;
    margin: 0.3em 0;
    padding: 14px 10px;
    font-weight: 400;
    border: none;
    border-radius: 13px;
    text-align: center;
}

.button-active{
    color: white;
    background-color: var(--color-BrightBlue-principal);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.button-active:hover{
    color: white;
    background-color: var(--color-Button-hoveractive);
    transition: 0.3s;
}

.button-second-active{
    color: var(--color-FontText-color);
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    background-color: none;
    opacity: 50%;
}
.button-second-active:hover{
    color: black;
    font-weight: 800;
    transition: 0.2s;
    opacity: 100%;
}

/* Section Footer */
.footer-section{
    text-align: center;
    margin-top: 1em;
    padding: 2em;
    background-color: var(--color-PaleBlue-background);
}


/* -- Section Responsive Desing -- */

/*Section responsive for normal phones and tablets (430px - 946px)*/
@media (min-width:575px) and (max-width:950px) {
 
    /* Card container */
    .card-container{
        margin: 1.2em;
        min-width: 300px;
    }
    
}


